body{
    background-color: #F4CA44
}
h1{
    text-align: center;
    font-size: 50px;
}

h2{
    text-align: center;
    font-size: 50px;
}


.start_button{
    display: flex;
    justify-content: center;
    margin-top: 20px;

    
}

.start_button button {
    margin: 0 10px; 
    font-size: 50px;
    padding: 15px 20px;
}
/*
.shape {
    width: 250px;
    height: 250px;
    background-image: conic-gradient(black 0deg, white 0deg);
    clip-path: circle();
    display: grid;
    place-items: center;
    z-index: 30;
}

.shape::before {
    content: "";
    width: 200px;
    height: 200px;
    background-color: white;
    clip-path: circle();
}
*/
