body{
    background-color: #F4CA44 !important;
}

h1{
    text-align: center;
    font-size: 100px !important;
    font-family: "Zen Maru Gothic", sans-serif;
    font-style: normal;
    font-weight: 900;
    margin-top: 10px !important;

    
}

.select_button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;


}

.select_button button {
    margin: 0 10px;
    font-size: 50px;
    font-family: "Zen Maru Gothic", serif;
    font-style: normal;
    font-weight: 400;
    color: azure;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #5a3527;
    

}

.navbar-nav .nav-link {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 16px; /* フォントサイズを適切なサイズに変更 */
    /* 他のスタイルも必要に応じて追加 */
  }

/* .zen-maru gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    
  } */

/*ホームのトップ設定*/
.page_title{
    font-size:50px;
  }
  
  
  /*カテゴリボタンCSS 　スタート*/
  .verb_category button {
      background-color: #F4CA44; /* 背景色 */
      color: white; /* 文字色 */
      padding: 15px 32px; /* パディング */
      text-align: center; /* 文字のアライメント */
      text-decoration: none; /* 文字装飾 */
      display: inline-block; /* ボタンの表示方法 */
      font-size: 16px; /* フォントサイズ */
      font-family: Arial, sans-serif; /* フォント */
      margin: 4px 2px; /* 外側の余白 */
      cursor: pointer; /* カーソル */
      border: none; /* ボーダーなし */
      border-radius: 5px; /* ボーダーの角丸 */
  }
  
  /*カテゴリボタン CSS終わり*/
  