body{
    background-color: #F4CA44
}
h1{
    text-align: center;
    font-size: 50px;
}

h2{
    text-align: center;
    font-size: 50px;
}


.start_button{
    display: flex;
    justify-content: center;
    margin-top: 20px;

    
}

.start_button button {
    margin: 0 10px; 
    font-size: 50px;
    padding: 15px 20px;
}